<html>
<head title="Tabela Marés">
    <script type="text/javascript"
            src="https://www.google.com/jsapi?autoload={
            'modules':[{
              'name':'visualization',
              'version':'1',
              'packages':['corechart']
            }]
          }"></script>



    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>

    <script type="text/javascript">

        google.load("feeds", "1");

        function getTable($portListValue) {
            if (!$portListValue) {
                return;
            }
            var feedURL = "http://rss.hidrografico.pt/rss.porto.php?p=" + $portListValue + "&d=1";
            var feed = new google.feeds.Feed(feedURL);
            var data = new google.visualization.DataTable();
            data.addColumn('datetime', 'Data');
            data.addColumn('number', 'Altura');
			data.addColumn({type:'string', role:'annotation'});

            feed.load(function (result) {
                if (!result.error) {
                    //debugger;
                    var container = document.getElementById("feed");
                    for (var i = 0; i < result.feed.entries.length; i++) {
                        var entry = result.feed.entries[i];
                        var rawRow = entry.title.split(' / ');
                        var d = new Date(rawRow[0]);
						var h = parseFloat(rawRow[1]);
						var t = rawRow[2];
						var row = [d,h,t]
						data.addRow(row);

                    }
                    console.log(data);

                    var options = {                        
                        title: 'Tabela de Mares' ,
						vAxis:{format:'#,### m'},
						hAxis:{format:'HH:mm'},
                        curveType: 'function',
						legend: 'none',
						width: 900,
						height: 500                   
                    };

                    var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));

                    chart.draw(data, options);


                }
            });
        }

       // google.setOnLoadCallback(getTable);
    </script>
    <script type="text/javascript">

        var seaTable = angular.module('seaTable', []);

        seaTable.controller('PortsListCtrl', ['$scope', function ($scope) {
            $scope.portsData = [
              { 'name': 'Lisboa', 'port': 16 },
              { 'name': 'Leixões', 'port': 12 },
              { 'name': 'Aveiro', 'port': 13 },
              { 'name': 'Sines', 'port': 43 },
              { 'name': 'Funchal', 'port': 112 },
              { 'name': 'Ponta Delgada', 'port': 211 }];
            $scope.selPort = $scope.portsData[0];
            $scope.convertToInt = function (id) {
                return parseInt(id, 10);
            };
            $scope.onChange = function () {                
                getTable($scope.selPort)
            }
        }]);

    </script>
</head>
<body ng-app="seaTable">
    <div ng-controller="PortsListCtrl">
        <label for="portList">Lista de Portos</label>
        <select ng-model="selPort" id="portList" ng-change="onChange()">
            <option ng-repeat="op in portsData" value="{{op.port}}">{{op.name}}</option>
        </select>
    </div>
    <div id="curve_chart" style="width: 900px; height: 500px"></div>



</body>
</html>
